// SPDX-License-Identifier: GPL-2.0
#include <dt-bindings/soc/bcm2835-pm.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/pwm/pwm.h>

/*
 * These are RP1 related, but can't go in rp1-common.dtsi as that is include in
 * the relevant node rather than being a totally independent file.
 */
&clocks {
	sdio_src: sdio_src {
		// 400 MHz on FPGA. PLL sys VCO on asic
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-output-names = "src";
		clock-frequency = <1000000000>;
	};
	sdhci_core: sdhci_core {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-output-names = "core";
		clock-frequency = <50000000>;
	};
	/* GPIO derived clock sources. Each GPIO with a GPCLK function
	 * can drive its output from the respective GPCLK
	 * generator, and provide a clock source to other internal
	 * dividers. Add dummy sources here so that they can be overridden
	 * with overlays.
	 */
	clksrc_gp0: clksrc_gp0 {
		status = "disabled";
		compatible = "fixed-factor-clock";
		#clock-cells = <0>;
		clock-div = <1>;
		clock-mult = <1>;
		clocks = <&rp1_clocks RP1_CLK_GP0>;
		clock-output-names = "clksrc_gp0";
	};
	clksrc_gp1: clksrc_gp1 {
		status = "disabled";
		compatible = "fixed-factor-clock";
		#clock-cells = <0>;
		clock-div = <1>;
		clock-mult = <1>;
		clocks = <&rp1_clocks RP1_CLK_GP1>;
		clock-output-names = "clksrc_gp1";
	};
	clksrc_gp2: clksrc_gp2 {
		status = "disabled";
		compatible = "fixed-factor-clock";
		clock-div = <1>;
		clock-mult = <1>;
		#clock-cells = <0>;
		clocks = <&rp1_clocks RP1_CLK_GP2>;
		clock-output-names = "clksrc_gp2";
	};
	clksrc_gp3: clksrc_gp3 {
		status = "disabled";
		compatible = "fixed-factor-clock";
		clock-div = <1>;
		clock-mult = <1>;
		#clock-cells = <0>;
		clocks = <&rp1_clocks RP1_CLK_GP3>;
		clock-output-names = "clksrc_gp3";
	};
	clksrc_gp4: clksrc_gp4 {
		status = "disabled";
		compatible = "fixed-factor-clock";
		#clock-cells = <0>;
		clock-div = <1>;
		clock-mult = <1>;
		clocks = <&rp1_clocks RP1_CLK_GP4>;
		clock-output-names = "clksrc_gp4";
	};
	clksrc_gp5: clksrc_gp5 {
		status = "disabled";
		compatible = "fixed-factor-clock";
		#clock-cells = <0>;
		clock-div = <1>;
		clock-mult = <1>;
		clocks = <&rp1_clocks RP1_CLK_GP5>;
		clock-output-names = "clksrc_gp5";
	};
};

// Peripherals that haven't been upstreamed yet, or potentially can't be.

/ {
#if 0 //ndef FIRMWARE_UPDATED
	#size-cells = <1>;

	reserved-memory {
		ranges;
		#address-cells = <2>;
		#size-cells = <1>;

		atf@0 {
			reg = <0x0 0x0 0x80000>;
		};

		linux,cma {
			size = <0x4000000>; /* 64MB */
			alloc-ranges = <0x0 0x00000000 0x40000000>;
		};
	};
#endif

	arm-pmu {
		compatible = "arm,cortex-a76-pmu";
		interrupts = <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 17 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 19 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-affinity = <&cpu0>, <&cpu1>, <&cpu2>, <&cpu3>;
	};

	clocks: clocks {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		clk_usb: clk-usb {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-output-names = "otg";
			clock-frequency = <480000000>;
		};
	};

	thermal-zones {
		cpu_thermal: cpu-thermal {
			polling-delay-passive = <1000>;
			polling-delay = <1000>;
			coefficients = <(-550) 450000>;
			thermal-sensors = <&thermal>;

			thermal_trips: trips {
				cpu_crit: cpu-crit {
					temperature	= <110000>;
					hysteresis	= <0>;
					type		= "critical";
				};
			};

			cooling_maps: cooling-maps {
			};
		};
	};

	firmwarekms: firmwarekms {
		compatible = "raspberrypi,rpi-firmware-kms-2712";
		interrupt-parent = <&cpu_l2_irq>;
		interrupts = <19>;
		brcm,firmware = <&firmware>;
		status = "disabled";
	};

	usbphy: phy {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
	};
};

&soc {
	system_timer: timer@7c003000 {
		compatible = "brcm,bcm2835-system-timer";
		reg = <0x7c003000 0x1000>;
		interrupts = <GIC_SPI 64 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 65 IRQ_TYPE_LEVEL_HIGH>,
						<GIC_SPI 66 IRQ_TYPE_LEVEL_HIGH>,
						<GIC_SPI 67 IRQ_TYPE_LEVEL_HIGH>;
		clock-frequency = <1000000>;
	};

	axiperf: axiperf@7c012800 {
		compatible = "brcm,bcm2712-axiperf";
		reg = <0x7c012800 0x100>,
			<0x7e000000 0x100>;
		firmware = <&firmware>;
		status = "disabled";
	};

	spi10: spi@7d004000 {
		compatible = "brcm,bcm2835-spi";
		reg = <0x7d004000 0x200>;
		interrupts = <GIC_SPI 118 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clk_vpu>;
		num-cs = <1>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";
	};

	i2c10: i2c@7d005600 {
		compatible = "brcm,bcm2711-i2c", "brcm,bcm2835-i2c";
		reg = <0x7d005600 0x20>;
		interrupts = <GIC_SPI 117 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clk_vpu>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";
	};

	pm: watchdog@7d200000 {
		compatible = "brcm,bcm2712-pm";
		reg = <0x7d200000 0x308>;
		reg-names = "pm";
		#power-domain-cells = <1>;
		#reset-cells = <1>;
		system-power-controller;
	};

	random: rng@7d208000 {
		compatible = "brcm,bcm2711-rng200";
		reg = <0x7d208000 0x28>;
		status = "okay";
	};

	cpu_l2_irq: intc@7d503000 {
		compatible = "brcm,l2-intc";
		reg = <0x7d503000 0x18>;
		interrupts = <GIC_SPI 238 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		#interrupt-cells = <1>;
	};

	pinctrl: pinctrl@7d504100 {
		compatible = "brcm,bcm2712-pinctrl";
		reg = <0x7d504100 0x30>;

		uarta_24_pins: uarta_24_pins {
			pin_rts {
				function = "uart0";
				pins = "gpio24";
				bias-disable;
			};
			pin_cts {
				function = "uart0";
				pins = "gpio25";
				bias-pull-up;
			};
			pin_txd {
				function = "uart0";
				pins = "gpio26";
				bias-disable;
			};
			pin_rxd {
				function = "uart0";
				pins = "gpio27";
				bias-pull-up;
			};
		};

		sdio2_30_pins: sdio2_30_pins {
			pin_clk {
				function = "sd2";
				pins = "gpio30";
				bias-disable;
			};
			pin_cmd {
				function = "sd2";
				pins = "gpio31";
				bias-pull-up;
			};
			pins_dat {
				function = "sd2";
				pins = "gpio32", "gpio33", "gpio34", "gpio35";
				bias-pull-up;
			};
		};
	};

	gio: gpio@7d508500 {
		compatible = "brcm,brcmstb-gpio";
		reg = <0x7d508500 0x40>;
		interrupt-parent = <&main_irq>;
		interrupts = <0>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		brcm,gpio-bank-widths = <32 22>;
		brcm,gpio-direct;
	};

	uarta: serial@7d50c000 {
		compatible = "brcm,bcm7271-uart";
		reg = <0x7d50c000 0x20>;
		reg-names = "uart";
		reg-shift = <2>;
		reg-io-width = <4>;
		interrupts = <GIC_SPI 276 IRQ_TYPE_LEVEL_HIGH>;
		skip-init;
		status = "disabled";
	};

	pinctrl_aon: pinctrl@7d510700 {
		compatible = "brcm,bcm2712-aon-pinctrl";
		reg = <0x7d510700 0x20>;

		i2c3_m4_agpio0_pins: i2c3_m4_agpio0_pins {
			function = "vc_i2c3";
			pins = "aon_gpio0", "aon_gpio1";
			bias-pull-up;
		};

		bsc_m1_agpio13_pins: bsc_m1_agpio13_pins {
			function = "bsc_m1";
			pins = "aon_gpio13", "aon_gpio14";
			bias-pull-up;
		};

		bsc_pmu_sgpio4_pins: bsc_pmu_sgpio4_pins {
			function = "avs_pmu_bsc";
			pins = "aon_sgpio4", "aon_sgpio5";
		};

		bsc_m2_sgpio4_pins: bsc_m2_sgpio4_pins {
			function = "bsc_m2";
			pins = "aon_sgpio4", "aon_sgpio5";
		};

		pwm_aon_agpio1_pins: pwm_aon_agpio1_pins {
			function = "aon_pwm";
			pins = "aon_gpio1", "aon_gpio2";
		};

		pwm_aon_agpio4_pins: pwm_aon_agpio4_pins {
			function = "vc_pwm0";
			pins = "aon_gpio4", "aon_gpio5";
		};

		pwm_aon_agpio7_pins: pwm_aon_agpio7_pins {
			function = "aon_pwm";
			pins = "aon_gpio7", "aon_gpio9";
		};
	};

	interrupt-controller@7d517000 {
		status = "disabled";
	};

	main_aon_irq: intc@7d517ac0 {
		compatible = "brcm,bcm7271-l2-intc";
		reg = <0x7d517ac0 0x10>;
		interrupts = <GIC_SPI 245 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		#interrupt-cells = <1>;
	};

	avs_monitor: avs-monitor@7d542000 {
		compatible = "brcm,bcm2711-avs-monitor",
					"syscon", "simple-mfd";
		reg = <0x7d542000 0xf00>;
		status = "okay";

		thermal: thermal {
			compatible = "brcm,bcm2711-thermal";
			#thermal-sensor-cells = <0>;
		};
	};
};

&axi {
	iommu2: iommu@5100 {
		/* IOMMU2 for PISP-BE, HEVC; and (unused) H264 accelerators */
		compatible = "brcm,bcm2712-iommu";
		reg = <0x10 0x5100  0x0 0x80>;
		cache = <&iommuc>;
		#iommu-cells = <0>;
	};

	iommu4: iommu@5200 {
		/* IOMMU4 for HVS, MPL/TXP; and (unused) Unicam, PISP-FE, MiniBVN */
		compatible = "brcm,bcm2712-iommu";
		reg = <0x10 0x5200  0x0 0x80>;
		cache = <&iommuc>;
		#iommu-cells = <0>;
		#interconnect-cells = <0>;
	};

	iommu5: iommu@5280 {
		/* IOMMU5 for PCIe2 (RP1); and (unused) BSTM */
		compatible = "brcm,bcm2712-iommu";
		reg = <0x10 0x5280  0x0 0x80>;
		cache = <&iommuc>;
		#iommu-cells = <0>;
		dma-iova-offset = <0x10 0x00000000>; // HACK for RP1 masters over PCIe
	};

	iommuc: iommuc@5b00 {
		compatible = "brcm,bcm2712-iommuc";
		reg = <0x10 0x5b00  0x0 0x80>;
	};

	dma32: dma@10000 {
		compatible = "brcm,bcm2712-dma";
		reg = <0x10 0x00010000 0 0x600>;
		interrupts = <GIC_SPI 80 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 81 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 82 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 83 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 84 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 85 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "dma0",
					"dma1",
					"dma2",
					"dma3",
					"dma4",
					"dma5";
		#dma-cells = <1>;
		brcm,dma-channel-mask = <0x0035>;
	};

	dma40: dma@10600 {
		compatible = "brcm,bcm2712-dma";
		reg = <0x10 0x00010600 0 0x600>;
		interrupts =
			<GIC_SPI 86 IRQ_TYPE_LEVEL_HIGH>, /* dma4 6 */
			<GIC_SPI 87 IRQ_TYPE_LEVEL_HIGH>, /* dma4 7 */
			<GIC_SPI 88 IRQ_TYPE_LEVEL_HIGH>, /* dma4 8 */
			<GIC_SPI 89 IRQ_TYPE_LEVEL_HIGH>, /* dma4 9 */
			<GIC_SPI 90 IRQ_TYPE_LEVEL_HIGH>, /* dma4 10 */
			<GIC_SPI 91 IRQ_TYPE_LEVEL_HIGH>; /* dma4 11 */
		interrupt-names = "dma6",
					"dma7",
					"dma8",
					"dma9",
					"dma10",
					"dma11";
		#dma-cells = <1>;
		brcm,dma-channel-mask = <0x0fc0>;
	};

	syscon_piarbctl: syscon@400018 {
		compatible = "brcm,syscon-piarbctl", "syscon", "simple-mfd";
		reg = <0x10 0x00400018  0x0 0x18>;
	};

	usb: usb@480000 {
		compatible = "brcm,bcm2835-usb";
		reg = <0x10 0x00480000  0x0 0x10000>;
		interrupts = <GIC_SPI 73 IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&clk_usb>;
		clock-names = "otg";
		phys = <&usbphy>;
		phy-names = "usb2-phy";
		status = "disabled";
	};

	hevc_dec: codec@800000 {
		compatible = "brcm,bcm2712-hevc-dec", "raspberrypi,hevc-dec";
		reg = <0x10 0x00800000  0x0 0x10000>, /* HEVC */
				<0x10 0x00840000  0x0 0x1000>;  /* INTC */
		reg-names = "hevc",
				"intc";

		interrupts = <GIC_SPI 98 IRQ_TYPE_LEVEL_HIGH>;

		clocks = <&firmware_clocks 11>;
		clock-names = "hevc";
		iommus = <&iommu2>;
	};

	pisp_be: pisp_be@880000  {
		compatible = "raspberrypi,pispbe";
		reg = <0x10 0x00880000  0x0 0x4000>;
		interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&firmware_clocks 7>;
		clocks-names = "isp_be";
		status = "okay";
		iommus = <&iommu2>;
	};

	sdio2: mmc@1100000 {
		compatible = "brcm,bcm2712-sdhci";
		reg = <0x10 0x01100000  0x0 0x260>,
				<0x10 0x01100400  0x0 0x200>;
		reg-names = "host", "cfg";
		interrupts = <GIC_SPI 274 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clk_emmc2>;
		sdhci-caps-mask = <0x0000C000 0x0>;
		sdhci-caps = <0x0 0x0>;
		supports-cqe = <1>;
		mmc-ddr-3_3v;
		status = "disabled";
	};

	v3d: v3d@2000000 {
		compatible = "brcm,2712-v3d";
		reg = <0x10 0x02000000  0x0 0x4000>,
			  <0x10 0x02008000  0x0 0x6000>,
			  <0x10 0x02030800  0x0 0x0700>;
		reg-names = "hub", "core0", "sms";

		power-domains = <&pm BCM2835_POWER_DOMAIN_GRAFX_V3D>;
		resets = <&pm BCM2835_RESET_V3D>;
		clocks = <&firmware_clocks 5>;
		clocks-names = "v3d";
		interrupts = <GIC_SPI 250 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 249 IRQ_TYPE_LEVEL_HIGH>;
		status = "disabled";
	};
};

/*
 * Board level devices that may rely on RP1
 */
&soc {
	firmware: firmware {
		compatible = "raspberrypi,bcm2835-firmware", "simple-mfd";
		#address-cells = <1>;
		#size-cells = <1>;

		mboxes = <&mailbox>;
		dma-ranges;

		firmware_clocks: clocks {
			compatible = "raspberrypi,firmware-clocks";
			#clock-cells = <1>;
		};

		reset: reset {
			compatible = "raspberrypi,firmware-reset";
			#reset-cells = <1>;
		};

		vcio: vcio {
			compatible = "raspberrypi,vcio";
		};
	};

	power: power {
		compatible = "raspberrypi,bcm2835-power";
		firmware = <&firmware>;
		#power-domain-cells = <1>;
	};

	fb: fb {
		compatible = "brcm,bcm2708-fb";
		firmware = <&firmware>;
	};

	rpi_rtc: rpi_rtc {
		compatible = "raspberrypi,rpi-rtc";
		firmware = <&firmware>;
		trickle-charge-microvolt = <0>;
	};

#if 0
	nvmem {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;

		nvmem_otp: nvmem_otp {
			compatible = "raspberrypi,rpi-otp";
			firmware = <&firmware>;
			reg = <0 192>;
		};

		nvmem_cust: nvmem_cust {
			compatible = "raspberrypi,rpi-otp";
			firmware = <&firmware>;
			reg = <1 8>;
		};

		nvmem_mac: nvmem_mac {
			compatible = "raspberrypi,rpi-otp";
			firmware = <&firmware>;
			reg = <2 6>;
		};

		nvmem_priv: nvmem_priv {
			compatible = "raspberrypi,rpi-otp";
			firmware = <&firmware>;
			reg = <3 16>;
		};
	};
#endif
	/* Define these notional regulators for use by overlays, etc. */
	vdd_3v3_reg: fixedregulator_3v3 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "3v3";
	};

	vdd_5v0_reg: fixedregulator_5v0 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-max-microvolt = <5000000>;
		regulator-min-microvolt = <5000000>;
		regulator-name = "5v0";
	};

	leds: leds {
		compatible = "gpio-leds";

		led_pwr: led-pwr {
			label = "PWR";
			gpios = <&rp1_gpio 44 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "none";
		};

		led_act: led-act {
			label = "ACT";
			gpios = <&gio_aon 9 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "mmc0";
		};
	};

	wl_on_reg: wl-on-reg {
		compatible = "regulator-fixed";
		regulator-name = "wl-on-regulator";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		pinctrl-0 = <&wl_on_pins>;
		pinctrl-names = "default";

		gpio = <&gio 28 GPIO_ACTIVE_HIGH>;

		startup-delay-us = <150000>;
		enable-active-high;
	};

	cam1_clk: cam1_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		status = "disabled";
	};

	cam0_clk: cam0_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		status = "disabled";
	};

	cam0_reg: cam0_reg {
		compatible = "regulator-fixed";
		regulator-name = "cam0_reg";
		enable-active-high;
		gpio = <&rp1_gpio 34 0>;  // CD0_IO0_MICCLK, to MIPI 0 connector
	};

	cam1_reg: cam1_reg {
		compatible = "regulator-fixed";
		regulator-name = "cam1_reg";
		enable-active-high;
		gpio = <&rp1_gpio 46 0>;  // CD1_IO0_MICCLK, to MIPI 1 connector
	};

	cam_dummy_reg: cam_dummy_reg {
		compatible = "regulator-fixed";
		regulator-name = "cam-dummy-reg";
	};

	dummy: dummy {
		// A target for unwanted overlay fragments
	};

	// A few extra labels to keep overlays happy
	i2c0if: i2c0if {};
	i2c0mux: i2c0mux {};
};

/ {
#if 0
	rp1_firmware: rp1_firmware {
		compatible = "raspberrypi,rp1-firmware", "simple-mfd";
		mboxes = <&rp1_mbox 0>;
		shmem = <&rp1_fw_shmem>;
	};
#endif
	rp1_vdd_3v3: rp1_vdd_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	pwr_button {
		compatible = "gpio-keys";

		pinctrl-names = "default";
		pinctrl-0 = <&pwr_button_pins>;
		status = "okay";

		pwr_key: pwr {
			label = "pwr_button";
			// linux,code = <205>; // KEY_SUSPEND
			linux,code = <116>; // KEY_POWER
			gpios = <&gio 20 GPIO_ACTIVE_LOW>;
			debounce-interval = <50>; // ms
		};
	};

	fan: cooling_fan {
		status = "disabled";
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		cooling-min-state = <0>;
		cooling-max-state = <3>;
		cooling-levels = <0 75 125 175 250>;
		pwms = <&rp1_pwm1 3 41566 PWM_POLARITY_INVERTED>;
		rpm-regmap = <&rp1_pwm1>;
		rpm-offset = <0x3c>;
	};
};

/*
 * Extra modifications to base devices
 */
&gicv2 {
	interrupts = <GIC_PPI 9 (GIC_CPU_MASK_SIMPLE(4) |
				 IRQ_TYPE_LEVEL_HIGH)>;
};

&uart10 {
	arm,primecell-periphid = <0x00341011>;
};

&aon_intr {
	status = "disabled";
};

&gio_aon {
	compatible = "brcm,brcmstb-gpio";
	brcm,gpio-direct;
};

&hvs {
	status = "disabled";
};

&hdmi0 {
	status = "disabled";
};

&hdmi1 {
	status = "disabled";
};

&pixelvalve0 {
	status = "disabled";
};

&pixelvalve1 {
	status = "disabled";
};

&mop {
	status = "disabled";
};

&moplet {
	status = "disabled";
};

&ddc0 {
	status = "disabled";
};

&ddc1 {
	status = "disabled";
};

&disp_intr {
	status = "disabled";
};

&vc4 {
	status = "disabled";
};

i2c_csi_dsi0: &rp1_i2c6 { // Note: This is for MIPI0 connector only
	pinctrl-0 = <&rp1_i2c6_38_39>;
	pinctrl-names = "default";
	clock-frequency = <100000>;
	symlink = "i2c-6";
};

i2c_csi_dsi1: &rp1_i2c4 { // Note: This is for MIPI1 connector only
	pinctrl-0 = <&rp1_i2c4_40_41>;
	pinctrl-names = "default";
	clock-frequency = <100000>;
	symlink = "i2c-4";
};

/* SDIO1 is used to drive the SD card */
&sdio1 {
	pinctrl-0 = <&emmc_sd_pulls>, <&emmc_aon_cd_pins>;
	pinctrl-names = "default";
	vqmmc-supply = <&sd_io_1v8_reg>;
	vmmc-supply = <&sd_vcc_reg>;
	bus-width = <4>;
	sd-uhs-sdr50;
	sd-uhs-ddr50;
	sd-uhs-sdr104;
	supports-cqe = <1>;
	cd-gpios = <&gio_aon 5 GPIO_ACTIVE_LOW>;
	//no-1-8-v;
	status = "okay";
};

&pinctrl_aon {
	emmc_aon_cd_pins: emmc_aon_cd_pins {
		function = "sd_card_g";
		pins = "aon_gpio5";
		bias-pull-up;
	};

	/* Slight hack - only one PWM pin (status LED) is usable */
	aon_pwm_1pin: aon_pwm_1pin {
		function = "aon_pwm";
		pins = "aon_gpio9";
	};
};

&pinctrl {
	pwr_button_pins: pwr_button_pins {
		function = "gpio";
		pins = "gpio20";
		bias-pull-up;
	};

	wl_on_pins: wl_on_pins {
		function = "gpio";
		pins = "gpio28";
	};

	bt_shutdown_pins: bt_shutdown_pins {
		function = "gpio";
		pins = "gpio29";
	};

	emmc_sd_pulls: emmc_sd_pulls {
		pins = "emmc_cmd", "emmc_dat0", "emmc_dat1", "emmc_dat2", "emmc_dat3";
		bias-pull-up;
	};
};

/* Enable RP1 peripherals, and add extra parameters */

gpio: &rp1_gpio {
	status = "okay";
};

aux: &dummy {};

&rp1_dma  {
	status = "okay";
};

&rp1_eth {
	status = "okay";
};

&rp1_usb0 {
	status = "okay";
};

&rp1_usb1 {
	status = "okay";
};

&rp1_eth {
	status = "okay";
	phy-handle = <&phy1>;
	phy-reset-gpios = <&rp1_gpio 32 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <5>;
	phy1: ethernet-phy@1 {
		reg = <0x1>;
		brcm,powerdown-enable;
		eee-broken-1000t;
		eee-broken-100tx;
	};
};

&pcie1 {
	ranges =
		/* 2GiB, 32-bit, non-prefetchable at PCIe 00_80000000 */
		<0x02000000 0x00 0x80000000 0x1b 0x80000000 0x00 0x80000000>,
		/* 14GiB, 64-bit, prefetchable at PCIe 04_00000000 */
		<0x43000000 0x04 0x00000000 0x18 0x00000000 0x03 0x80000000>;
};

/*
 * Add secondary labels to RP1 peripherals so that overlays can look them up
 * by a standard name.
 */
i2c0: &rp1_i2c0 { };
i2c1: &rp1_i2c1 { };
i2c2: &rp1_i2c2 { };
i2c3: &rp1_i2c3 { };
i2c4: &rp1_i2c4 { };
i2c5: &rp1_i2c5 { };
i2c6: &rp1_i2c6 { };
i2s:  &rp1_i2s0 { };
i2s_clk_producer: &rp1_i2s0 { };
i2s_clk_consumer: &rp1_i2s1 { };
pwm0: &rp1_pwm0 { };
pwm1: &rp1_pwm1 { };
pwm: &pwm0 { };
spi0: &rp1_spi0 { };
spi1: &rp1_spi1 { };
spi2: &rp1_spi2 { };
spi3: &rp1_spi3 { };
spi4: &rp1_spi4 { };
spi5: &rp1_spi5 { };

i2c_csi_dsi: &i2c_csi_dsi1 { }; // An alias for compatibility

csi0: &rp1_csi0 { };
csi1: &rp1_csi1 { };
dsi0: &rp1_dsi0 { };
dsi1: &rp1_dsi1 { };
dpi: &rp1_dpi { };
vec: &rp1_vec { };

dpi_gpio0:              &rp1_dpi_24bit_gpio0        { };
dpi_gpio1:              &rp1_dpi_24bit_gpio2        { };
dpi_18bit_cpadhi_gpio0: &rp1_dpi_18bit_cpadhi_gpio0 { };
dpi_18bit_cpadhi_gpio2: &rp1_dpi_18bit_cpadhi_gpio2 { };
dpi_18bit_gpio0:        &rp1_dpi_18bit_gpio0        { };
dpi_18bit_gpio2:        &rp1_dpi_18bit_gpio2        { };
dpi_16bit_cpadhi_gpio0: &rp1_dpi_16bit_cpadhi_gpio0 { };
dpi_16bit_cpadhi_gpio2: &rp1_dpi_16bit_cpadhi_gpio2 { };
dpi_16bit_gpio0:        &rp1_dpi_16bit_gpio0        { };
dpi_16bit_gpio2:        &rp1_dpi_16bit_gpio2        { };

/* Pin definitions */
uart0_pins: &rp1_uart0_14_15 {};
uart0_ctsrts_pins: &rp1_uart0_ctsrts_16_17 {};
uart0: &rp1_uart0 {
	pinctrl-0 = <&uart0_pins>;
};

uart1_pins: &rp1_uart1_0_1 {};
uart1_ctsrts_pins: &rp1_uart1_ctsrts_2_3 {};
uart1: &rp1_uart1 { };

uart2_pins: &rp1_uart2_4_5 {};
uart2_ctsrts_pins: &rp1_uart2_ctsrts_6_7 {};
uart2: &rp1_uart2 { };

uart3_pins: &rp1_uart3_8_9 {};
uart3_ctsrts_pins: &rp1_uart3_ctsrts_10_11 {};
uart3: &rp1_uart3 { };

uart4_pins: &rp1_uart4_12_13 {};
uart4_ctsrts_pins: &rp1_uart4_ctsrts_14_15 {};
uart4: &rp1_uart4 { };

i2c0_pins: &rp1_i2c0_0_1 {};
i2c_vc: &i2c0 {      // This is pins 27,28 on the header (not MIPI)
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";
	clock-frequency = <100000>;
};

i2c1_pins: &rp1_i2c1_2_3 {};
i2c_arm: &i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	clock-frequency = <100000>;
};

i2c2_pins: &rp1_i2c2_4_5 {};
&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;
};

i2c3_pins: &rp1_i2c3_6_7 {};
&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;
};

&i2s_clk_producer {
	pinctrl-names = "default";
	pinctrl-0 = <&rp1_i2s0_18_21>;
};

&i2s_clk_consumer {
	pinctrl-names = "default";
	pinctrl-0 = <&rp1_i2s1_18_21>;
};

spi0_pins: &rp1_spi0_gpio9 {};
spi0_cs_pins: &rp1_spi0_cs_gpio7 {};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins &spi0_cs_pins>;
	cs-gpios = <&gpio 8 1>, <&gpio 7 1>;

	spidev0: spidev@0 {
		compatible = "spidev";
		reg = <0>;	/* CE0 */
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <125000000>;
	};

	spidev1: spidev@1 {
		compatible = "spidev";
		reg = <1>;	/* CE1 */
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <125000000>;
	};
};

spi2_pins: &rp1_spi2_gpio1 {};
&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_pins>;
};

spi3_pins: &rp1_spi3_gpio5 {};
&spi3 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi3_pins>;
};

spi4_pins: &rp1_spi4_gpio9 {};
&spi4 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi4_pins>;
};

spi5_pins: &rp1_spi5_gpio13 {};
&spi5 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi5_pins>;
};

/* Add the IOMMUs for some RP1 bus masters */

&csi0 {
	iommus = <&iommu5>;
};

&csi1 {
	iommus = <&iommu5>;
};

&dsi0 {
	iommus = <&iommu5>;
};

&dsi1 {
	iommus = <&iommu5>;
};

&dpi {
	iommus = <&iommu5>;
};

&vec {
	iommus = <&iommu5>;
};

&ddc0 {
	status = "disabled";
};

&ddc1 {
	status = "disabled";
};

/ {
	chosen: chosen {
		bootargs = "reboot=w coherent_pool=1M 8250.nr_uarts=1 pci=pcie_bus_safe cgroup_disable=memory numa_policy=interleave nvme.max_host_mem_size_mb=0";
		stdout-path = "serial10:115200n8";
	};

	aliases: aliases {
#if 0
		blconfig = &blconfig;
		blpubkey = &blpubkey;
		bluetooth = &bluetooth;
		console = &uart10;
#endif
		drm-dsi1 = &dsi0;
		drm-dsi2 = &dsi1;
		ethernet0 = &rp1_eth;
		fb = &fb;
		gpio0 = &gpio;
		gpio1 = &gio;
		gpio2 = &gio_aon;
		gpio3 = &pinctrl;
		gpio4 = &pinctrl_aon;
		gpiochip0 = &gpio;
		gpiochip10 = &gio;
		i2c = &i2c_arm;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c10 = &i2c_csi_dsi0;
		i2c11 = &i2c_csi_dsi1;
		i2c12 = &i2c10;
		mailbox = &mailbox;
		mmc0 = &sdio1;
		//pio0 = &pio;
		serial0 = &uart0;
		serial1 = &uart1;
		//serial10 = &uart10; //Defined in bcm2712.dtsi
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		spi0 = &spi0;
		spi1 = &spi1;
		//spi10 = &spi10;
		spi2 = &spi2;
		spi3 = &spi3;
		spi4 = &spi4;
		spi5 = &spi5;
		uart0 = &uart0;
		uart1 = &uart1;
		uart10 = &uart10;
		uart2 = &uart2;
		uart3 = &uart3;
		uart4 = &uart4;
		usb0 = &rp1_usb0;
		usb1 = &rp1_usb1;
		//watchdog = &watchdog;
		//wifi0 = &wifi;
	};
};
