// SPDX-License-Identifier: GPL-2.0-only
// Definitions for Arducam 64MP camera module on VC I2C bus
/dts-v1/;
/plugin/;

/{
	compatible = "brcm,bcm2835";

	i2c_frag: fragment@0 {
		target = <&i2c_csi_dsi>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			arducam_64mp: arducam_64mp@1a {
				compatible = "arducam,64mp";
				reg = <0x1a>;
				status = "okay";

				clocks = <&cam1_clk>;
				clock-names = "xclk";

				VANA-supply = <&cam1_reg>;	/* 2.8v */
				VDIG-supply = <&cam_dummy_reg>;	/* 1.8v */
				VDDL-supply = <&cam_dummy_reg>;	/* 1.2v */

				rotation = <0>;
				orientation = <2>;

				port {
					arducam_64mp_0: endpoint {
						remote-endpoint = <&csi1_ep>;
						clock-lanes = <0>;
						data-lanes = <1 2>;
						clock-noncontinuous;
						link-frequencies =
							/bits/ 64 <456000000>;
					};
				};
			};

			vcm: dw9817@c {
				compatible = "dongwoon,dw9817-vcm";
				reg = <0x0c>;
				status = "disabled";
				VDD-supply = <&cam1_reg>;
			};
		};
	};

	csi_frag: fragment@1 {
		target = <&csi1>;
		csi: __overlay__ {
			status = "okay";
			brcm,media-controller;

			port{
				csi1_ep: endpoint{
					remote-endpoint = <&arducam_64mp_0>;
					clock-lanes = <0>;
					data-lanes = <1 2>;
					clock-noncontinuous;
				};
			};
		};
	};

	fragment@2 {
		target = <&i2c0if>;
		__overlay__ {
			status = "okay";
		};
	};

	clk_frag: fragment@3 {
		target = <&cam1_clk>;
		__overlay__ {
			clock-frequency = <24000000>;
			status = "okay";
		};
	};

	fragment@4 {
		target = <&i2c0mux>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&arducam_64mp>;
		__overlay__ {
			lens-focus = <&vcm>;
		};
	};

	__overrides__ {
		rotation = <&arducam_64mp>,"rotation:0";
		orientation = <&arducam_64mp>,"orientation:0";
		media-controller = <&csi>,"brcm,media-controller?";
		cam0 = <&i2c_frag>, "target:0=",<&i2c_vc>,
		       <&csi_frag>, "target:0=",<&csi0>,
		       <&clk_frag>, "target:0=",<&cam0_clk>,
		       <&arducam_64mp>, "clocks:0=",<&cam0_clk>,
		       <&arducam_64mp>, "VANA-supply:0=",<&cam0_reg>,
		       <&vcm>, "VDD-supply:0=", <&cam0_reg>;
		vcm = <&vcm>, "status",
		      <0>, "=5";
	};
};

&vcm {
	status = "okay";
};
