// Definitions for audioinjector.net audio add on soundcard
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2708";

	fragment@0 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&soc>;
			__overlay__ {
				reg_digital: reg_digital@0 {
				  compatible = "regulator-fixed";
				  regulator-name = "cs42448_dig_supply";
				  regulator-min-microvolt = <3300000>;
				  regulator-max-microvolt = <3300000>;
				  regulator-always-on;
  			};
				reg_analogue: reg_analogue@0 {
				  compatible = "regulator-fixed";
				  regulator-name = "cs42448_ana_supply";
				  regulator-min-microvolt = <5000000>;
				  regulator-max-microvolt = <5000000>;
				  regulator-always-on;
			};
		};
	};

	fragment@2 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			cs42448: cs42448@48 {
				#sound-dai-cells = <0>;
				compatible = "cirrus,cs42448";
				reg = <0x48>;
				clocks = <&cs42448_mclk>;
				clock-names = "mclk";
				VA-supply = <&reg_analogue>;
				VD-supply = <&reg_digital>;
				VLS-supply = <&reg_digital>;
				VLC-supply = <&reg_digital>;
				status = "okay";
			};

			cs42448_mclk: codec-mclk {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <49152000>;
			};
		};
	};

	fragment@3 {
		target = <&sound>;
		__overlay__ {
			compatible = "ai,audioinjector-octo-soundcard";
			mult-gpios = <&gpio 27 0>, <&gpio 22 0>, <&gpio 23 0>,
				     <&gpio 24 0>;
			reset-gpios = <&gpio 5 0>;
			i2s-controller = <&i2s>;
			codec = <&cs42448>;
			status = "okay";
		};
	};
};
