/*
 * Device Tree overlay for RaspberryPi 7" Touchscreen panel
 *
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&i2c_csi_dsi>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			ft5406: ts@38 {
				compatible = "edt,edt-ft5406";
				reg = <0x38>;

				touchscreen-size-x = < 800 >;
				touchscreen-size-y = < 480 >;
			};
		};
	};

	fragment@1 {
		target = <&i2c0if>;
		__overlay__ {
			status = "okay";
		};
	};

	__overrides__ {
		sizex = <&ft5406>,"touchscreen-size-x:0";
		sizey = <&ft5406>,"touchscreen-size-y:0";
		invx = <&ft5406>,"touchscreen-inverted-x?";
		invy = <&ft5406>,"touchscreen-inverted-y?";
		swapxy = <&ft5406>,"touchscreen-swapped-x-y?";
	};
};
