// Definitions for HiFiBerry DAC+ADC PRO
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target-path = "/clocks";
		__overlay__ {
			dacpro_osc: dacpro_osc {
				compatible = "hifiberry,dacpro-clk";
				#clock-cells = <0>;
			};
		};
	};

	fragment@1 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			hb_dac: pcm5122@4d {
				#sound-dai-cells = <0>;
				compatible = "ti,pcm5122";
				reg = <0x4d>;
				clocks = <&dacpro_osc>;
				status = "okay";
			};
			hb_adc: pcm186x@4a {
				#sound-dai-cells = <0>;
				compatible = "ti,pcm1863";
				reg = <0x4a>;
				clocks = <&dacpro_osc>;
				status = "okay";
			};
		};
	};

	fragment@3 {
		target = <&sound>;
		hifiberry_dacplusadcpro: __overlay__ {
			compatible = "hifiberry,hifiberry-dacplusadcpro";
			audio-codec = <&hb_dac &hb_adc>;
			i2s-controller = <&i2s>;
			status = "okay";
		};
	};

	__overrides__ {
		24db_digital_gain =
			<&hifiberry_dacplusadcpro>,"hifiberry-dacplusadcpro,24db_digital_gain?";
		slave = <&hifiberry_dacplusadcpro>,"hifiberry-dacplusadcpro,slave?";
		leds_off = <&hifiberry_dacplusadcpro>,"hifiberry-dacplusadcpro,leds_off?";
	};
};
