// Definitions for I2C based sensors using the Industrial IO interface.
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2708";

	fragment@0 {
		target = <&i2c_arm>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			bmp085: bmp085@77 {
				compatible = "bosch,bmp085";
				reg = <0x77>;
				default-oversampling = <3>;
				status = "disable";
			};

			bmp280: bmp280@76 {
				compatible = "bosch,bmp280";
				reg = <0x76>;
				status = "disable";
			};

			si7020: si7020@40 {
				compatible = "si7020";
				reg = <0x40>;
				status = "disable";
			};
		};
	};

	__overrides__ {
		bmp085 = <&bmp085>,"status";
		bmp280 = <&bmp280>,"status";
		si7020 = <&si7020>,"status";
	};
};
