/dts-v1/;
/plugin/;

/{
	compatible = "brcm,bcm2838";

	fragment@0 {
		target = <&i2c6>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c6_pins>;
		};
	};

	fragment@1 {
		target = <&i2c6_pins>;
		__dormant__ {
			brcm,pins = <0 1>;
		};
	};

	__overrides__ {
		pins_0_1 = <0>,"=1";
		pins_22_23 = <0>,"!1";
	};
};
