// SPDX-License-Identifier: GPL-2.0-only
// Definitions for IRS1125 camera module on VC I2C bus
/dts-v1/;
/plugin/;

/{
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&i2cbus>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			irs1125: irs1125@3d {
				compatible = "infineon,irs1125";
				reg = <0x3D>;
				status = "okay";

				pwdn-gpios = <&gpio 5 0>;
				clocks = <&irs1125_clk>;

				port {
					irs1125_0: endpoint {
						remote-endpoint = <&csi_ep>;
						clock-lanes = <0>;
						data-lanes = <1 2>;
						clock-noncontinuous;
						link-frequencies =
							/bits/ 64 <297000000>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&csi>;
		__overlay__ {
			status = "okay";

			port {
				csi_ep: endpoint {
					remote-endpoint = <&irs1125_0>;
					data-lanes = <1 2>;
					clock-noncontinuous;
				};
			};
		};
	};

	fragment@2 {
		target = <&i2c0if>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&i2c0mux>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target-path = "/";
		__overlay__ {
			irs1125_clk: irs1125-1-clk {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <26000000>;
				clock-output-names = "irs1125_1_clk";
			};
		};
	};

	fragment@5 {
		target-path="/__overrides__";
		__overlay__ {
			cam0-pwdn-ctrl = <&irs1125>,"pwdn-gpios:0";
			cam0-pwdn      = <&irs1125>,"pwdn-gpios:4";
		};
	};

	fragment@6 {
		target-path="/__overrides__";
		__overlay__ {
			cam1-pwdn-ctrl = <&irs1125>,"pwdn-gpios:0";
			cam1-pwdn      = <&irs1125>,"pwdn-gpios:4";
		};
	};

	frag100: fragment@100 {
		target = <&i2c_csi_dsi>;
		i2cbus: __overlay__ {
			status = "okay";
		};
	};

	frag101: fragment@101 {
		target = <&csi1>;
		csi: __overlay__ {
			status = "okay";
		};
	};

	__overrides__ {
		cam0 =	<&frag100>, "target:0=",<&i2c_vc>,
			<&frag101>, "target:0=",<&csi0>,
			<&irs1125_clk>, "clock-output-names=irs1125_0_clk",
			<&irs1125_clk>, "name=irs1125_0_clk",
			<0>, "-4+5"
			;
	};
};
