/ Overlay for Maxim MAX98357A audio DAC

// dtparams:
//     sdmode-pin - GPIO pin to which SD_MODE is connected.

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target-path = "/";
		__overlay__ {
			max98357a_dac: max98357a {
				compatible = "maxim,max98357a";
				#sound-dai-cells = <0>;
				sdmode-gpios = <&gpio 0 0>;   /* 2nd word overwritten by sdmode-pin parameter */
				status = "okay";
			};
		};
	};

	fragment@2 {
		target = <&sound>;
		__overlay__ {
			compatible = "simple-audio-card";
			simple-audio-card,format = "i2s";
			simple-audio-card,name = "MAX98357A";
			status = "okay";
			simple-audio-card,cpu {
				sound-dai = <&i2s>;
			};
			simple-audio-card,codec {
				sound-dai = <&max98357a_dac>;
			};
		};
	};

	__overrides__ {
		sdmode-pin = <&max98357a_dac>,"sdmode-gpios:4";
	};
};

