// SPDX-License-Identifier: GPL-2.0-only
// Definitions for OV7251 camera module on VC I2C bus
/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

/{
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&i2cbus>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			ov7251: ov7251@60 {
				compatible = "ovti,ov7251";
				reg = <0x60>;
				status = "okay";

				clocks = <&ov7251_clk>;
				clock-names = "xclk";
				clock-frequency = <24000000>;

				vdddo-supply = <&ov7251_dovdd>;
				vdda-supply = <&cam_reg>;
				vddd-supply = <&ov7251_dvdd>;

				port {
					ov7251_0: endpoint {
						remote-endpoint = <&csi_ep>;
						clock-lanes = <0>;
						data-lanes = <1>;
						clock-noncontinuous;
						link-frequencies =
							/bits/ 64 <456000000>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&csi>;
		__overlay__ {
			status = "okay";

			port {
				csi_ep: endpoint {
					remote-endpoint = <&ov7251_0>;
					data-lanes = <1>;
				};
			};
		};
	};

	fragment@2 {
		target = <&i2c0if>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target-path="/";
		__overlay__ {
			ov7251_dovdd: ov7251_1_dovdd {
				compatible = "regulator-fixed";
				regulator-name = "ov7251_1_dovdd";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};
			ov7251_dvdd: ov7251_1_dvdd {
				compatible = "regulator-fixed";
				regulator-name = "ov7251_1_dvdd";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
			};
			ov7251_clk: ov7251_1_clk {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <24000000>;
				clock-output-names = "ov7251_1_clk";
			};
		};
	};

	fragment@4 {
		target = <&i2c0mux>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&cam_reg>;
		__overlay__ {
			status = "okay";
			regulator-name = "ov7251_1_avdd";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
		};
	};

	frag100: fragment@100 {
		target = <&i2c_csi_dsi>;
		i2cbus: __overlay__ {
			status = "okay";
		};
	};

	frag101: fragment@101 {
		target = <&csi1>;
		csi: __overlay__ {
			status = "okay";
		};
	};

	frag102: fragment@102 {
		target = <&cam1_reg>;
		cam_reg: __overlay__ {
			status = "okay";
		};
	};

	__overrides__ {
		cam0 =	<&frag100>, "target:0=",<&i2c_vc>,
			<&frag101>, "target:0=",<&csi0>,
			<&frag102>, "target:0=",<&cam0_reg>,
			<&frag102>, "regulator-name=ov7251_0_avdd",
			<&ov7251_dovdd>, "name=ov7251_0_dovdd",
			<&ov7251_dovdd>, "regulator-name=ov7251_0_dovdd",
			<&ov7251_dvdd>, "name=ov7251_0_dvdd",
			<&ov7251_dvdd>, "regulator-name=ov7251_0_dvdd",
			<&ov7251_clk>, "clock-output-names=ov7251_0_clk",
			<&ov7251_clk>, "name=ov7251_0_clk"
			;
	};
};
