/dts-v1/;
/plugin/;

/* Disable Bluetooth and restore UART0/ttyAMA0 over GPIOs 14 & 15.
   To disable the systemd service that initialises the modem so it doesn't use
   the UART:

       sudo systemctl disable hciuart
*/

/{
	compatible = "brcm,bcm2708";

	fragment@0 {
		target = <&uart1>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@1 {
		target = <&uart0>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&uart0_pins>;
			status = "okay";
		};
	};

	fragment@2 {
		target = <&uart0_pins>;
		__overlay__ {
			brcm,pins;
			brcm,function;
			brcm,pull;
		};
	};

	fragment@3 {
		target-path = "/aliases";
		__overlay__ {
			serial0 = "/soc/uart@7e201000";
			serial1 = "/soc/uart@7e215040";
		};
	};
};
