/*
 * Device Tree overlay for Adafruit PiTFT 2.8" capacitive touch screen
 *
 */

/dts-v1/;
/plugin/;

/ {
        compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";

        fragment@0 {
                target = <&spi0>;
                __overlay__ {
                        status = "okay";
                };
        };

	fragment@1 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};

        fragment@2 {
                target = <&gpio>;
                __overlay__ {
                        pitft_pins: pitft_pins {
                                brcm,pins = <24 25>;
                                brcm,function = <0 1>; /* in out */
                                brcm,pull = <2 0>; /* pullup none */
                        };
                };
        };

        fragment@3 {
                target = <&spi0>;
                __overlay__ {
                        /* needed to avoid dtc warning */
                        #address-cells = <1>;
                        #size-cells = <0>;

                        pitft: pitft@0{
                                compatible = "ilitek,ili9340";
                                reg = <0>;
                                pinctrl-names = "default";
                                pinctrl-0 = <&pitft_pins>;

                                spi-max-frequency = <32000000>;
                                rotate = <90>;
                                fps = <25>;
                                bgr;
                                buswidth = <8>;
                                dc-gpios = <&gpio 25 0>;
                                debug = <0>;
                        };
                };
        };

        fragment@4 {
                target = <&i2c1>;
                __overlay__ {
                        /* needed to avoid dtc warning */
                        #address-cells = <1>;
                        #size-cells = <0>;

                        ft6236: ft6236@38 {
                                compatible = "focaltech,ft6236";
                                reg = <0x38>;

                                interrupt-parent = <&gpio>;
                                interrupts = <24 2>;
                                touchscreen-size-x = <240>;
                                touchscreen-size-y = <320>;
                        };
                };
        };

        __overrides__ {
                speed =   <&pitft>,"spi-max-frequency:0";
                rotate =  <&pitft>,"rotate:0";
                fps =     <&pitft>,"fps:0";
                debug =   <&pitft>,"debug:0";
                touch-sizex = <&ft6236>,"touchscreen-size-x?";
                touch-sizey = <&ft6236>,"touchscreen-size-y?";
                touch-invx  = <&ft6236>,"touchscreen-inverted-x?";
                touch-invy  = <&ft6236>,"touchscreen-inverted-y?";
                touch-swapxy = <&ft6236>,"touchscreen-swapped-x-y?";
        };
};
