#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2712";

	fragment@0 {
		target = <&i2c_csi_dsi0>;
		__overlay__ {
			status = "okay";
			pi4io: pi4io@44 {
				compatible = "fcs,fxl6408";
				reg = <0x44>;
				gpio-controller;
				#gpio-cells = <2>;
				status = "okay";
			};

			sn65dsi83: bridge@2c {
				compatible = "ti,sn65dsi83";
				reg = <0x2c>;
				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;

						in_dsi: endpoint {
							remote-endpoint = <&dsi_out>;
							data-lanes = <1 2 3 4>;
						};
					};

					port@2 {
						reg = <2>;

						lvds_out: endpoint {
							remote-endpoint = <&in_lvds>;
						};
					};
				};
			};

			mxt1066td: touch@4a {
				compatible = "atmel,maxtouch";
				reg = <0x4a>;
				interrupt-parent = <&rp1_gpio>;
				interrupts = <34 IRQ_TYPE_EDGE_FALLING>;
				pinctrl-names = "default";
				pinctrl-0 = <&rp1_gpio_34>;
				reset-gpios = <&pi4io 1 GPIO_ACTIVE_LOW>;
				status = "okay";
			};
		};
	};

	fragment@1 {
		target = <&dsi0>;
		__overlay__{
			status = "okay";
			port {
				dsi_out: endpoint {
					remote-endpoint = <&in_dsi>;
				};
			};
		};
	};

	fragment@2 {
		target-path = "/";
		__overlay__ {
			panel: panel {
				compatible = "auo,g101ean02-2", "panel-lvds";
				width-mm = <217>;
				height-mm = <136>;
				data-mapping = "vesa-24";
				backlight = <&backlight>;
				status = "okay";

				panel-timing {
					clock-frequency = <71100000>;
					hactive = <1280>;
					vactive = <800>;
					hfront-porch = <50>;
					hsync-len = <60>;
					hback-porch = <50>;
					vfront-porch = <7>;
					vsync-len = <9>;
					vback-porch = <7>;
				};

				port {
					in_lvds: endpoint {
						remote-endpoint = <&lvds_out>;
					};
				};
			};

			display_enable: display_enable {
				compatible = "regulator-fixed";
				regulator-name = "display_enable";
				regulator-always-on;
				enable-active-high;
				gpio = <&pi4io 0 GPIO_ACTIVE_HIGH>;
				status = "okay";
			};

			backlight: backlight {
				compatible = "pwm-backlight";
				pwms = <&pwm1 0 5000000 0>;
				brightness-levels = <0 65535>;
				num-interpolated-steps = <4096>;
				default-brightness-level = <3000>;
				status = "okay";
			};
		};
	};

	fragment@3 {
		target = <&rp1_gpio>;
		__overlay__ {
			rp1_gpio_34: rp1_gpio_34 {
				function = "gpio";
				pins = "gpio34";
				bias-pull-up;
			};
			rp1_gpio_35: rp1_gpio_35 {
				function = "pwm1";
				pins = "gpio35";
			};
		};
	};

	fragment@4 {
		target = <&cam0_reg>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@5 {
		target = <&pwm1>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&rp1_gpio_35>;
			status = "okay";
		};
	};
};
