// Definitions for RRA DigiDAC1 Audio card
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2708";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			aliases {
				ldo0 = &ldo0;
				ldo1 = &ldo1;
			};
		};
	};

	fragment@1 {
		target-path = "/soc";
		__overlay__ {

			ldo1: ldo1 {
				compatible = "regulator-fixed";
				regulator-name = "DC_5V";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				regulator-always-on;
			};

			ldo0: ldo0 {
				compatible = "regulator-fixed";
				regulator-name = "DC_3V3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};

	fragment@2 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			wm8804@3b {
				#sound-dai-cells = <0>;
				compatible = "wlf,wm8804";
				reg = <0x3b>;
				status = "okay";
				PVDD-supply = <&ldo0>;
				DVDD-supply = <&ldo0>;
			};

			wm8742: wm8741@1a {
				compatible = "wlf,wm8741";
				reg = <0x1a>;
				status = "okay";
				AVDD-supply = <&ldo1>;
				DVDD-supply = <&ldo0>;
			};
		};
	};

	fragment@4 {
		target = <&sound>;
		__overlay__ {
			compatible = "rra,digidac1-soundcard";
			i2s-controller = <&i2s>;
			status = "okay";
		};
	};
};
