/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&gpio>;
		__overlay__ {
			spi0_pins: spi0_pins {
				brcm,pins = <10 9 11>; /* miso mosi sck */
				brcm,function = <4>; /* alt0 */
			};

			spi0_cs_pins: spi0_cs_pins {
				brcm,pins = <8>; /* ce0 */
				brcm,function = <1>; /* output */
			};
		};
	};

	fragment@1 {
		target = <&spi0>;
		frag1: __overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&spi0_pins &spi0_cs_pins>;
			cs-gpios = <&gpio 8 1>;
			status = "okay";
		};
	};

	fragment@2 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};

	__overrides__ {
		int_pin = <&sc16is752>,"interrupts:0";
		xtal = <&sc16is752_clk>, "clock-frequency:0";
	};
};
