/dts-v1/;
/plugin/;

/{
	compatible = "brcm,bcm2708";

	fragment@0 {
		target = <&mmc>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@1 {
		target = <&sdhost>;
		frag1: __overlay__ {
			brcm,overclock-50 = <0>;
			brcm,pio-limit = <1>;
			status = "okay";
		};
	};

	__overrides__ {
		overclock_50     = <&frag1>,"brcm,overclock-50:0";
		force_pio        = <&frag1>,"brcm,force-pio?";
		pio_limit        = <&frag1>,"brcm,pio-limit:0";
		debug            = <&frag1>,"brcm,debug?";
	};
};
