/dts-v1/;
/plugin/;


/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&spi0>;
		frag0: __overlay__ {
			cs-gpios = <&gpio 8 1>, <&gpio 7 1>;
			status = "okay";
		};
	};

	__overrides__ {
		cs0_pin  = <&frag0>,"cs-gpios:4";
		cs1_pin  = <&frag0>,"cs-gpios:16";
	};
};
