// SPDX-License-Identifier: GPL-2.0-only
// Definitions for Toshiba TC358743 HDMI to CSI2 bridge on VC I2C bus
/dts-v1/;
/plugin/;

#include "tc358743.dtsi"

/ {
	compatible = "brcm,bcm2835";

	fragment@100 {
		target = <&csi1>;
		__overlay__ {
			compatible = "brcm,bcm2835-unicam-legacy";
		};
	};

	__overrides__ {
		media-controller = <0>,"!100";
	};
};
