/*
 * vc4-kms-v3d-overlay.dts
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/bcm2835.h>

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target-path = "/chosen";
		__overlay__ {
			bootargs = "cma=256M";
		};
	};

	fragment@1 {
		target-path = "/chosen";
		__dormant__ {
			bootargs = "cma=192M";
		};
	};

	fragment@2 {
		target-path = "/chosen";
		__dormant__ {
			bootargs = "cma=128M";
		};
	};

	fragment@3 {
		target-path = "/chosen";
		__dormant__ {
			bootargs = "cma=96M";
		};
	};

	fragment@4 {
		target-path = "/chosen";
		__dormant__ {
			bootargs = "cma=64M";
		};
	};

	fragment@5 {
		target = <&i2c2>;
		__overlay__  {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&fb>;
		__overlay__  {
			status = "disabled";
		};
	};

	fragment@7 {
		target = <&pixelvalve0>;
		__overlay__  {
			interrupts = <2 13>; /* pwa0 */
			status = "okay";
		};
	};

	fragment@8 {
		target = <&pixelvalve1>;
		__overlay__  {
			interrupts = <2 14>; /* pwa1 */
			status = "okay";
		};
	};

	fragment@9 {
		target = <&pixelvalve2>;
		__overlay__  {
			interrupts = <2 10>; /* pixelvalve */
			status = "okay";
		};
	};

	fragment@10 {
		target = <&hvs>;
		__overlay__  {
			interrupts = <2 1>;
			status = "okay";
		};
	};

	fragment@11 {
		target = <&hdmi>;
		__overlay__  {
			interrupts = <2 8>, <2 9>;
			status = "okay";
		};
	};

	fragment@12 {
		target = <&v3d>;
		__overlay__  {
			interrupts = <1 10>;
			status = "okay";
		};
	};

	fragment@13 {
		target = <&vc4>;
		__overlay__  {
			status = "okay";
		};
	};

	fragment@14 {
		target-path = "/soc/dma";
		__overlay__ {
			brcm,dma-channel-mask = <0x7f35>;
		};
	};


	fragment@15 {
		target = <&clocks>;
		__overlay__  {
			claim-clocks = <
				BCM2835_PLLD_DSI0
				BCM2835_PLLD_DSI1
				BCM2835_PLLH_AUX
				BCM2835_PLLH_PIX
			>;
		};
	};

	fragment@16 {
		target = <&vec>;
		__overlay__  {
			status = "okay";
		};
	};

	fragment@17 {
		target = <&txp>;
		__overlay__  {
			status = "okay";
		};
	};

	__overrides__ {
		cma-256 = <0>,"+0-1-2-3-4";
		cma-192 = <0>,"-0+1-2-3-4";
		cma-128 = <0>,"-0-1+2-3-4";
		cma-96  = <0>,"-0-1-2+3-4";
		cma-64  = <0>,"-0-1-2-3+4";
	};
};
