/*
 * Device Tree overlay for RaspberryPi 7" Touchscreen panel
 *
 */

/dts-v1/;
/plugin/;

#include "edt-ft5406.dtsi"

/ {
	/* No compatible as it will have come from edt-ft5406.dtsi */

	fragment@0 {
		target = <&dsi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			port {
				dsi_out: endpoint {
					remote-endpoint = <&bridge_in>;
				};
			};
			bridge@0 {
				reg = <0>;
				compatible = "toshiba,tc358762";
				vddc-supply = <&reg_bridge>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						bridge_in: endpoint {
							remote-endpoint = <&dsi_out>;
						};
					};

					port@1 {
						reg = <1>;
						bridge_out: endpoint {
							remote-endpoint = <&panel_in>;
						};
					};
				};
			};
		};
	};

	fragment@1 {
		target-path = "/";
		__overlay__ {
			panel_disp1: panel_disp1@0 {
				reg = <0>;
				compatible = "raspberrypi,7inch-dsi", "simple-panel";
				backlight = <&reg_display>;
				power-supply = <&reg_display>;

				port {
					panel_in: endpoint {
						remote-endpoint = <&bridge_out>;
					};
				};
			};

			reg_bridge: reg_bridge@0 {
				reg = <0>;
				compatible = "regulator-fixed";
				regulator-name = "bridge_reg";
				gpio = <&reg_display 0 0>;
				vin-supply = <&reg_display>;
				enable-active-high;
			};
		};
	};

	fragment@2 {
		target = <&i2c_csi_dsi>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			reg_display: reg_display@45 {
				compatible = "raspberrypi,7inch-touchscreen-panel-regulator";
				reg = <0x45>;
				gpio-controller;
				#gpio-cells = <2>;
			};
		};
	};

	fragment@3 {
		target = <&i2c0if>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&i2c0mux>;
		__overlay__ {
			status = "okay";
		};
	};
	fragment@5 {
		target = <&ft5406>;
		__overlay__ {
			vcc-supply = <&reg_display>;
			reset-gpio = <&reg_display 1 1>;
		};
	};

	__overrides__ {
		disable_touch = <0>, "-10-11-12";
	};
};
