/*
 * vc4-kms-v3d-overlay.dts
 */

/dts-v1/;
/plugin/;

#include "dt-bindings/clock/bcm2835.h"
#include "dt-bindings/gpio/gpio.h"

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {
		target = <&i2c2>;
		__overlay__  {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&cprman>;
		__overlay__  {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&fb>;
		__overlay__  {
			status = "disabled";
		};
	};

	fragment@3 {
		target = <&soc>;
		__overlay__  {
			#address-cells = <1>;
			#size-cells = <1>;

			pixelvalve@7e206000 {
				compatible = "brcm,bcm2835-pixelvalve0";
				reg = <0x7e206000 0x100>;
				interrupts = <2 13>; /* pwa0 */
			};

			pixelvalve@7e207000 {
				compatible = "brcm,bcm2835-pixelvalve1";
				reg = <0x7e207000 0x100>;
				interrupts = <2 14>; /* pwa1 */
			};

			hvs@7e400000 {
				compatible = "brcm,bcm2835-hvs";
				reg = <0x7e400000 0x6000>;
				interrupts = <2 1>;
			};

			pixelvalve@7e807000 {
				compatible = "brcm,bcm2835-pixelvalve2";
				reg = <0x7e807000 0x100>;
				interrupts = <2 10>; /* pixelvalve */
			};

			hdmi@7e902000 {
				compatible = "brcm,bcm2835-hdmi";
				reg = <0x7e902000 0x600>,
				      <0x7e808000 0x100>;
				interrupts = <2 8>, <2 9>;
				ddc = <&i2c2>;
				hpd-gpio = <&gpio 46 GPIO_ACTIVE_HIGH>;
				clocks = <&cprman BCM2835_PLLH_PIX>,
					 <&cprman BCM2835_CLOCK_HSM>;
				clock-names = "pixel", "hdmi";
			};

			v3d@7ec00000 {
				compatible = "brcm,vc4-v3d";
				reg = <0x7ec00000 0x1000>;
				interrupts = <1 10>;
			};

			gpu@7e4c0000 {
				compatible = "brcm,bcm2835-vc4";
			};
		};
	};
};
