config SND_BCM2708_SOC_DIONAUDIO_KIWI
	tristate "Support for Dion Audio KIWI STREAMER"
	depends on SND_BCM2708_SOC_I2S || SND_BCM2835_SOC_I2S
	select SND_SOC_PCM1794A
	help
	  Say Y or M if you want to add support for Dion Audio KIWI.
