config BCM2835_VCHIQ_MMAL
	tristate "BCM2835 MMAL VCHIQ service"
	depends on (ARCH_BCM2835 || COMPILE_TEST)
	select BCM2835_VCHIQ
	select BCM_VC_SM_CMA
	help
	  Enables the MMAL API over VCHIQ as used for the
	  majority of the multimedia services on VideoCore.
