# SPDX-License-Identifier: GPL-2.0-only
config DRM_RP1_DSI
	tristate "DRM Support for RP1 DSI"
	depends on DRM && MFD_RP1
	select DRM_GEM_DMA_HELPER
	select DRM_KMS_HELPER
	select DRM_MIPI_DSI
	select DRM_VRAM_HELPER
	select DRM_TTM
	select DRM_TTM_HELPER
	select GENERIC_PHY
	select GENERIC_PHY_MIPI_DPHY
	help
	  Choose this option to enable DSI display on RP1
