#  KEEP ALPHABETICALLY SORTED
# ARM64 base requirements
CONFIG_ARM64=y
CONFIG_ARM64_PAN=y
CONFIG_ARM64_SW_TTBR0_PAN=y
CONFIG_ARMV8_DEPRECATED=y
CONFIG_CFI_CLANG=y
CONFIG_COMPAT=y
CONFIG_CP15_BARRIER_EMULATION=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_SETEND_EMULATION=y
CONFIG_SHADOW_CALL_STACK=y
CONFIG_SWP_EMULATION=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_HAVE_MOVE_PMD=y
CONFIG_HAVE_MOVE_PUD=y
CONFIG_KFENCE=y
CONFIG_USERFAULTFD=y

# CONFIG_ACPI || CONFIG_OF
# CONFIG_ACPI is not set
CONFIG_OF=y

# EXT4 requirements
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_POSIX_ACL=y

# F2FS requirements
CONFIG_F2FS_FS=y
CONFIG_F2FS_FS_POSIX_ACL=y

# CONFIG_VMAP_STACK requirement
CONFIG_HAVE_ARCH_VMAP_STACK=y
# CONFIG_KASAN_SW_TAGS is not set
CONFIG_VMAP_STACK=y

# CONFIG_INIT_STACK_ALL_ZERO requirement
CONFIG_CC_HAS_AUTO_VAR_INIT_ZERO=y
CONFIG_INIT_STACK_ALL_ZERO=y
