# SPDX-License-Identifier: GPL-2.0-only
config DRM_RP1_DPI
	tristate "DRM Support for RP1 DPI"
	depends on DRM && MFD_RP1
	select DRM_GEM_DMA_HELPER
	select DRM_KMS_HELPER
	select DRM_VRAM_HELPER
	select DRM_TTM
	select DRM_TTM_HELPER
	depends on RP1_PIO || !RP1_PIO
	help
	  Choose this option to enable DPI output on Raspberry Pi RP1

	  There is an optional dependency on RP1_PIO, as the PIO block
	  must be used to fix up interlaced sync. Interlaced DPI modes
	  will be unavailable when RP1_PIO is not selected.
