/include/ "bcm2708_common.dtsi"

/ {
	compatible = "brcm,bcm2710","brcm,bcm2709";
	model = "BCM2710";

	chosen {
		/* No padding required - the boot loader can do that. */
		bootargs = "";
	};

	soc {
		ranges = <0x7e000000 0x3f000000 0x01000000>;

		arm-pmu {
			compatible = "arm,cortex-a7-pmu";
			interrupts = <3 9>;
		};

		gpiomem {
			compatible = "brcm,bcm2835-gpiomem";
			reg = <0x7e200000 0x1000>;
			status = "okay";
		};
	};

	timer {
		compatible = "arm,armv7-timer";
		clock-frequency = <19200000>;
		interrupts = <3 0>, // PHYS_SECURE_PPI
			     <3 1>, // PHYS_NONSECURE_PPI
			     <3 3>, // VIRT_PPI
			     <3 2>; // HYP_PPI
		always-on;
	};

	cpus: cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		v7_cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x000>;
			clock-frequency = <800000000>;
		};

		v7_cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x001>;
			clock-frequency = <800000000>;
		};

		v7_cpu2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x002>;
			clock-frequency = <800000000>;
		};

		v7_cpu3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x003>;
			clock-frequency = <800000000>;
		};
	};

	__overrides__ {
		arm_freq = <&v7_cpu0>, "clock-frequency:0",
		       <&v7_cpu1>, "clock-frequency:0",
		       <&v7_cpu2>, "clock-frequency:0",
		       <&v7_cpu3>, "clock-frequency:0";
	};
};
