/dts-v1/;

/include/ "bcm2708-rpi-cm.dtsi"

/ {
	model = "Raspberry Pi Compute Module";
};

&uart0 {
	status = "okay";
};

/ {
	__overrides__ {
		uart0 = <&uart0>,"status";
		uart0_clkrate = <&clk_uart0>,"clock-frequency:0";
	};
};
