#include "bcm2837.dtsi"
#include "bcm270x.dtsi"

/ {
	compatible = "brcm,bcm2837", "brcm,bcm2836";

	arm-pmu {
#ifdef RPI364
		compatible = "arm,armv8-pmuv3", "arm,cortex-a7-pmu";
#else
		compatible = "arm,cortex-a7-pmu";
#endif
	};

	soc {
		/delete-node/ timer@7e003000;
	};

	__overrides__ {
		arm_freq = <&cpu0>, "clock-frequency:0",
		       <&cpu1>, "clock-frequency:0",
		       <&cpu2>, "clock-frequency:0",
		       <&cpu3>, "clock-frequency:0";
	};
};

&vc4 {
	status = "disabled";
};
