menu "Broadcom BCM2708 Implementations"
	depends on ARCH_BCM2708

config MACH_BCM2708
	bool "Broadcom BCM2708 Development Platform"
	select NEED_MACH_MEMORY_H
	select NEED_MACH_IO_H
	select CPU_V6
	help
	  Include support for the Broadcom(R) BCM2708 platform.

config BCM2708_GPIO
	bool "BCM2708 gpio support"
	depends on MACH_BCM2708
	select ARCH_REQUIRE_GPIOLIB
        default y
	help
	  Include support for the Broadcom(R) BCM2708 gpio.

config BCM2708_RPI2C
        bool "I2C Sniffing support on Raspbery Pi iwth basic Slave functionality (always ACK on own address)"
        depends on MACH_BCM2708 && !BCM2708_GPIO && !USB_FIQ_ENABLED
        default n
        help
          Include support for the I2C sniffer and dummy I2C Slave (receive only) for Raspbery Pi. Driver replaces default BCM2708_GPIO so you cannot have any userspave support for GPIO  working anymore on Rpi. In future, this driver should copy gpio interface from bcm2708_gpio.c to provide GPIO functionality on unused pins, but currently this is TODO.  In order to use this module you have to hardwire two GPIO lines together for SDA signal gpiop[0..27] with gpio[28..31] for SCL you need only one gpio[0..27]. You have to provide these as kernel params: rpi2c.rpi2c_sda_gpio_a=[0..27], rpi2c.rpi2c_sda_gpio_b=[28..31], rpi2c.rpi2c_scl_gpio=[0..27], defaults are SDA: 4,31 and SCL:17 also module defines rpi2c.rpi2c_my_addr for I2C slave address this module will ACK, by default it is 0x40

config BCM2708_VCMEM
	bool "Videocore Memory"
	depends on MACH_BCM2708
        default y
        help
          Helper for videocore memory access and total size allocation.	   

config BCM2708_NOL2CACHE
	bool "Videocore L2 cache disable"
	depends on MACH_BCM2708
        default n
        help
          Do not allow ARM to use GPU's L2 cache. Requires disable_l2cache in config.txt.

config BCM2708_DMAER
	tristate "BCM2708 DMA helper"
	depends on MACH_BCM2708
        default n
        help
          Enable DMA helper for accelerating X composition

config BCM2708_SPIDEV
	bool "Bind spidev to SPI0 master"
	depends on MACH_BCM2708  
	depends on SPI
        default y
		help 
			Binds spidev driver to the SPI0 master  
endmenu
