menu "Broadcom BCM2708 Implementations"
	depends on ARCH_BCM2708

config MACH_BCM2708
	bool "Broadcom BCM2708 Development Platform"
	select CPU_V6
	select USE_OF
	select ARCH_REQUIRE_GPIOLIB
	select PINCTRL
	select PINCTRL_BCM2835
	help
	  Include support for the Broadcom(R) BCM2708 platform.

endmenu
